<!DOCTYPE html>  
<html xmlns:th="http://www.thymeleaf.org">
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <head>
		<meta charset="UTF-8" />
		<title th:text="${title}"></title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	</head>
    <body>
    	<h1>nonogram solver</h1>
    	<div id="main">
			<div>grid size:</div>
			horizon size:<input type="number" value="10" id="horizon" min="10" max="30"/>
			vertical size:<input type="number" value="10" id="vertical" min="10" max="30"/>
			<input type="button" value="generate" id="generate" onclick="generate();"/>
			<div id="grid"></div>
			<div id="enter">
				<div style="height:30px; margin-bottom:2px;" id = "chosen"></div>
				<div id = "select"></div>
			</div>
			<input type="button" value="submit" id="submit" hidden="hidden" onclick="submit();"/>
		</div>
    </body>
    <script type="text/javascript">
    	function generate(){
    		var horizon = $("#horizon").val();
			var vertical = $("#vertical").val();
    		$("#grid").html("");
    		var result="<table>";
    		result += "<tr>";
    		result += "<td></td>";
    		result += "<td></td>";
    		/*<![CDATA[*/
    		for(var i = 0; i < horizon; i++){
    			result += "<td>";
    			result += "<div id='htip"+i+"'></div>";
    			result += "</td>";
    		}
    		/*]]>*/
    		result += "</tr>";
    		result += "<tr>";
    		result += "<td></td>";
    		result += "<td></td>";
    		/*<![CDATA[*/
    		for(var i = 0; i < horizon; i++){
    			result += "<td>";
    			result += "<input type='button' style='margin:2px;' value='tic' onclick='tickNumber(" + vertical + "," + i+ ",0);'/>";
    			result += "</td>";
    		}
    		/*]]>*/
    		result += "</tr>";
    		/*<![CDATA[*/
    		for(var i = 0; i < vertical; i++){
    			result += "<tr>";
    			result += "<td>";
    			result += "<span id='vtip"+i+"'></span>";
    			result += "</td>";
    			result += "<td>";
    			result += "<input type='button' style='margin:2px;' value='toc' onclick='tickNumber(" + horizon + "," + i+ ",1);'/>";
    			result += "</td>";
    			for(var j = 0; j < horizon; j++){
    				result += "<td id='" + i +"-"+ j +"'></td>";
    			}
    			result += "</tr>";
    		}
    		/*]]>*/
			result += "</table>";
    		$("#grid").html(result);
    		$("#submit").prop("hidden",false);
    	}
    	function tickNumber(size,index,direction){
    		$("#clear").prop("hidden",false);
    		var chosen = "";
    		var tempArray = new Array();
    		/*<![CDATA[*/
    		if(direction == 0){
	    		if($("#htip"+index).children().length != 0){
	    			for(var i = 0; i < $("#htip"+index).children().length; i++){
	    				tempArray.push(parseInt($("#htip"+index).children().eq(i).text()));
	    			}
	    		}
    		}else{
    			if($("#vtip"+index).text().split(",").length != 0){
    				for(var i = 0; i < $("#vtip"+index).text().split(",").length - 1; i++){
	    				tempArray.push(parseInt($("#vtip"+index).text().split(",")[i]));
	    			}
	    		}
    		}
    		for(var i = 0; i < tempArray.length; i++){
    			chosen += "<input type='button' style='margin:2px;' id='" +tempArray[i]+ "'"
						+" value = '"+tempArray[i]+"' onclick='removeNum(this.value,"+size+");'/>";
				if(i%5 == 4){
    				chosen += "<br/>"
    			}
    		}
    		$("#chosen").html(chosen);
    		var select = "";
			for(var i = 0; i < size; i++){
				var digit = "";
				select += "<input type='button' style='margin:2px;' value = '"+(i + 1)
						+"' onclick='addNum(this.value,"+size+");'/>";
				
    			if(i%5 == 4){
    				select += "<br/>"
    			}
    		}
    		/*]]>*/
    		
    		$("#select").html(select);
    		$('#enter').keydown(function(event){ 
				//alert("Key: " + event.which);
			});
    		$('#enter').dialog({
				autoOpen: true,
				modal:true,
				width: 300,
				buttons: {
					"clear": function() {
						clearChosen();
					},
					"confirm": function() { 
						confirm(index,direction);
						$(this).dialog("close"); 
					}, 
					"cancel": function() { 
						$(this).dialog("close"); 
					}
				}
			});
			checkSum(size);
    	}
    	function removeNum(value,size){
    		$("#"+value).remove();
    		checkSum(size);
    	}
    	
    	function addNum(value,size){
    		/*<![CDATA[*/
    		var appender = "<input type='button' style='margin:2px;' id='"+value+"' value='"+value+"' onclick='removeNum(this.value,"+size+");'/>";
    		$("#chosen").append(appender);
			checkSum(size);
			/*]]>*/
    	}
    	function clearChosen(){
    		$("#chosen").html("");
    		$("#select").children().each(function(){
				$(this).removeAttr("disabled");
    		});
    	}
    	function checkSum(size){
    		var sum = 0;
    		$("#chosen").children().each(function(){
    			if($(this).val() != ""){
    				sum += parseInt($(this).val()) + 1;
    			}
    		});
    		
    		/*<![CDATA[*/
    		$("#select").children().each(function(){
    			if(parseInt($(this).val()) <= (size - sum)){
    				$(this).removeAttr("disabled");
    			}else{
    				$(this).attr("disabled","disabled");
    			}
    		});
    		/*]]>*/
    	}
    	
    	function sortNumber(a,b){
			return a - b
		}
    	
    	function confirm(index,direction){
    		if(direction == 0){
    			$("#htip"+index).html("");
    		}else{
    			$("#vtip"+index).html("");
    		}
    		
    		/*<![CDATA[*/
    		$("#chosen").children().each(function(){
    			
    			if(direction == 0){
    				$("#htip"+index).append("<div>"+$(this).val()+"</div>");
    			}else{
    				if($(this).val() != ""){
   						$("#vtip"+index).append($(this).val()+",");
    				}
    			}
			});
    		/*]]>*/
    	}
    	
    	function submit(){
    		var htips = "[";
    		var vtips = "[";
    		var data = "";
    		$("div[id^=htip]").each(function(){
    			htips += "[";
    			var onetip = "";
    			if($(this).children().length == 0){
    				onetip += "0,";
    			}else{
	    			$(this).children().each(function(){
	    				onetip += $(this).text()+",";
	    			});
	    		}
    			htips += onetip.substring(0,onetip.length-1) + "],";
    		});
    		htips = htips.substring(0,htips.length-1)+"]";
    		$("span[id^=vtip]").each(function(){
    			if($(this).text().length == 0){
    				vtips += "[0],";
    			}else{
    				vtips += "["+$(this).text().substring(0,($(this).text().length - 1))+"],";
    			}
    		});
    		vtips = vtips.substring(0,vtips.length-1)+"]";
    		data += "{ \"htips\":"+htips+",\"vtips\":"+vtips+"}";
    		
			$.ajax({
				type: "post",
				url: "http://localhost:8080/solve",
				data: data,
				dataType: "text",
				contentType: "application/json; charset=utf-8",
				success: function(data){
					var arrayObj = eval(data);
					/*<![CDATA[*/
					for(var i = 0;i < arrayObj.length; i++){
						for(var j = 0; j < arrayObj[i].length; j++){
							$("#"+i+"-"+j).css("background-color",arrayObj[i][j] == 1?"grey":arrayObj[i][j] == 2?"white":"red");
						}
					}
					/*]]>*/
				},
				error: function(XMLHttpRequest, textStatus, errorThrown) {
					alert(XMLHttpRequest.status);
					alert(XMLHttpRequest.readyState);
					alert(textStatus);
				},
			});
		}
    </script>
</html>